In [1]:
# ------------------------- Tuple (immutable / allow duplicate)

t1 = (2) # this is not single item tuple, this is int
t1 = (2, ) # this is single item tuple
print(type(t1))

# homogeneous tuple
t = (1, 2, 3, 4, 5)

# heterogeneous tuple
t = (1, False, 5.5, 'py')
print(type(t))

# nested tuple
t = (1, 2, 3, 4, (7, 8))

# using type conversion
t = tuple('hello')

<class 'tuple'>
<class 'tuple'>

In [2]:
# ------------------- Accessing item

tp = (9, 1, 2, 8, 5, (55, 66))
# indexing
tp[0]
tp[-2]

# slicing
tp[1:4:2]
tp[::-1]
tp[5][1]

# edit, add
# tp[1] = 101 # as tuple immutable hence not editable

# del
del tp # it work for delete entire tuple not work for particular item

In [3]:
# -------------- Operations on tuple

# + ans -
t1 = (1, 2, 3, 4)
t2 = (9, 8, 7, 6)

print(t1 + t2) # merge
print(t1 * 3)

# membership
print(1 in t1)
print(1 not in t2)

# iteration
for i in t1:
    print(i)

(1, 2, 3, 4, 9, 8, 7, 6)
(1, 2, 3, 4, 1, 2, 3, 4, 1, 2, 3, 4)
True
True
1
2
3
4

In [4]:
# --------------- Tuple functions

tp1 = (9, 1, 2, 8, 5, (55, 66))
tp2 = (9, 1, 2, 9, 8, 5, 7, 8, 9)
print(len(tp1))
print(sum(tp2))
print(min(tp2))
print(max(tp2))
sorted(tp2, reverse=True)
tp2.count(9)
tp2.index(9)

6
58
1
9

0

In [5]:
# tuple unpacking

a, b, c = (1, 2, 3)
print(a, b, c)

# swap value
a = 11
b = 22
a, b = b, a

print(a, b)

a, b, *other = (1, 2, 3, 4, 5, 6)
print(other)

# zip function
t1 = (1, 2, 3, 4, 5)
t2 = (9, 8, 7, 6, 5)

tuple(zip(t1, t2))

1 2 3
22 11
[3, 4, 5, 6]

((1, 9), (2, 8), (3, 7), (4, 6), (5, 5))

In [6]:
# ----------------------- Set (unordered collection of items / no duplicate / immutable)

# empty
s = set()
print(type(s))

# 1d
s = {1, 2, 5, 4, 1}
print(s)

# homo & hetero
s = {1, 2.5, False, 'nice'}
s = {1, 2.5, True, 'nice', (9, 8)} # in output no true cause 1 == true other value is true ans it not contain duplicate value
print(s)

# type conversion
s = set([1, 2, 3, 4])
print(s)

s1 = {1, 2, 3}
s2 = {2, 3, 1}

print(s1 == s2) # true cause check only value

<class 'set'>
{1, 2, 4, 5}
{1, 2.5, (9, 8), 'nice'}
{1, 2, 3, 4}
True

In [7]:
# Access / slicing / editing not possible in set

# adding item
s = {11, 9, 1, 2, 8, 3}
s.add(21) # add one value a a time where it will be added it decide hash value 
print(s)

# update (add multiple value at a time)
s.update([90, 87, 23])
print(s)

# delete item
s1 = {1, 2, 3, 8, 9, 11, 21, 87, 23, 90}
print(s1)
# del s1
# print(s1)

# discard (delete one item)
s1.discard(11)
print(s1)

s1.remove(21)
print(s1)

s1.pop() # random delete one item
print(s1)

s1.clear()
print(s1)

{1, 2, 3, 21, 8, 9, 11}
{1, 2, 3, 8, 9, 11, 21, 87, 23, 90}
{1, 2, 3, 8, 9, 11, 21, 87, 23, 90}
{1, 2, 3, 8, 9, 21, 87, 23, 90}
{1, 2, 3, 8, 9, 87, 23, 90}
{2, 3, 8, 9, 87, 23, 90}
set()

In [8]:
# --------------------- Set Operations

s1 = {1, 2, 3, 4, 5}
s2 = {4, 5, 6, 7, 8}

# union (|) 
print(s1.union(s2))
print(s2.union(s1))
s1 | s2

# intersection (&)
print(s1.intersection(s2))
print(s2.intersection(s1))
s1 & s2

# difference
s1 - s2
s2 - s1

# symmetric difference (^) -> remove all common element
s1 ^ s2
s2 ^ s1

# membership 
1 in s1
1 not in s1

# loops
for i in s1:
    print(i)

print(len(s1))
print(min(s1))
print(max(s1))
sorted(s1, reverse=True)

{1, 2, 3, 4, 5, 6, 7, 8}
{1, 2, 3, 4, 5, 6, 7, 8}
{4, 5}
{4, 5}
1
2
3
4
5
5
1
5

[5, 4, 3, 2, 1]

In [9]:
# union / update
s1 = {1, 2, 3, 4, 5}
s2 = {4, 5, 6, 7, 8}

s1.union(s2)
s1.update(s2)
print(s1) # make permanent change in s1
print(s2)

# intersection / intersection_update
s1 = {1, 2, 3, 4, 5}
s2 = {4, 5, 6, 7, 8}

s1.intersection(s2)
s1.intersection_update(s2)
print(s1) # make permanent change in s1
print(s2)

# difference / difference_update
s1 = {1, 2, 3, 4, 5}
s2 = {4, 5, 6, 7, 8}

s1.difference(s2)
s1.difference_update(s2)
print(s1) # make permanent change in s1
print(s2)

# symmetric difference / symmetric_difference_update
s1 = {1, 2, 3, 4, 5}
s2 = {4, 5, 6, 7, 8}

s1.symmetric_difference(s2)
s1.symmetric_difference_update(s2)
print(s1) # make permanent change in s1
print(s2)

{1, 2, 3, 4, 5, 6, 7, 8}
{4, 5, 6, 7, 8}
{4, 5}
{4, 5, 6, 7, 8}
{1, 2, 3}
{4, 5, 6, 7, 8}
{1, 2, 3, 6, 7, 8}
{4, 5, 6, 7, 8}

In [10]:
# isdisjoint (there is no common element)
s1 = {1, 2, 3, 4, 5}
s2 = {4, 5, 6, 7, 8}

s1.isdisjoint(s2)

# issubset
s1 = {1, 2, 3, 4, 5}
s2 = {3, 4, 5}

s1.issubset(s2) # false -> s1 is not subset of s2
s2.issubset(s1) # true -> s2 is subset of s1

# copy 
s1 = {8, 6, 7, 5}
s2 = s1.copy()
print(s1)
print(s2)

{8, 5, 6, 7}
{8, 5, 6, 7}

In [11]:
# ---------------- Frozen set (immutable version of python set)

fs1 = frozenset([1, 2, 3])
fs2 = frozenset([4, 5, 6])

fs1 | fs2

frozenset({1, 2, 3, 4, 5, 6})

In [12]:
# work -> all read functions
# not work -> write functions

# 2d set
fs = frozenset([1, 2, frozenset([4, 5])])
fs

# set comprehensive
{ i*i for i in range (1, 11) if i > 5}

{36, 49, 64, 81, 100}

In [13]:
# --------------------- Dictionary (collection of keys value pair)

''' 
- Mutable
- keys cannot be duplicate
- keys cannot be mutable item
'''

# empty dictionary
d = {}

# 1D dictionary
d1 = { 'name' : 'partho' ,'gender' : 'male' }

# with mixed keys
d2 = {(1,2,3):1,'hello':'world'}

# 2D dictionary -> JSON
s = {
    'name':'partho',
     'college':'uiu',
     'sem':4,
     'subjects':{
         'dsa':50,
         'maths':67,
         'english':34
     }
}

# using sequence and dict function
d4 = dict([('name','partho'),('age',21),(3,3)])

# duplicate keys
d5 = {
    'name':'a',
    'name':'b'
}

# mutable items as keys
d6 = {
    'name':'partho',
    (1,2,3):2, # [1,2,3]:2 give me error cause tuple immutable
}

In [14]:
# Accessing item
d = {
    'name': 'a',
    'value': 28
}

d['name']
d['value']

d.get('name')

s = {
    'name':'partho',
     'college':'uiu',
     'sem':4,
     'subjects':{
         'dsa':50,
         'maths':67,
         'english':34
     }
}

s['subjects']['dsa']

# edit 
s['subjects']['ds'] = 84
print(s)

{'name': 'partho', 'college': 'uiu', 'sem': 4, 'subjects': {'dsa': 50, 'maths': 67, 'english': 34, 'ds': 84}}

In [15]:
# Adding key-value 

d = {
    'name': 'a',
    'value': 28
} 

d['gender'] = 'sigma male'
d['weight'] = 63

# remove key value pair

d = {
    'name': 'a', 
    'value': 28, 
    'gender': 
    'sigma male', 
    'weight': 63
}

d.pop('weight')
print(d)

d.popitem() # delete last item

del d['name']
print(d)

d.clear()
print(d)

{'name': 'a', 'value': 28, 'gender': 'sigma male'}
{'value': 28}
{}

In [16]:
# Dictionary (everything about keys) Operation

s = {
    'name': 'partho', 
    'college': 'uiu', 
    'sem': 4, 
    'subjects': {
        'dsa': 50, 
        'maths': 67, 
        'english': 34, 
        'ds': 84
    }
}

# membership
'partho' in s # false
'name' in s # true

# loops
for i in s:
    print(i, s[i])

name partho
college uiu
sem 4
subjects {'dsa': 50, 'maths': 67, 'english': 34, 'ds': 84}

In [17]:
# Dictionary function

s = {
    'name': 'partho', 
    'college': 'uiu', 
    'sem': 4, 
    'subjects': {
        'dsa': 50, 
        'maths': 67, 
        'english': 34, 
        'ds': 84
    }
}

print(len(s))
sorted(s)
sorted(s, reverse=True)
print(min(s))
print(max(s))

4
college
subjects

In [18]:
# items / keys / values

s = {
    'name': 'partho', 
    'college': 'uiu', 
    'sem': 4, 
    'subjects': {
        'dsa': 50, 
        'maths': 67, 
        'english': 34, 
        'ds': 84
    }
}

print(s.items()) # ans in list of tuple
print(s.keys())
print(s.values())

# update
d1 = {
    1:2, 
    3:4,
    4:5
}

d2 = {
    4:7,
    6:8
}

d1.update(d2)
print(d1)

dict_items([('name', 'partho'), ('college', 'uiu'), ('sem', 4), ('subjects', {'dsa': 50, 'maths': 67, 'english': 34, 'ds': 84})])
dict_keys(['name', 'college', 'sem', 'subjects'])
dict_values(['partho', 'uiu', 4, {'dsa': 50, 'maths': 67, 'english': 34, 'ds': 84}])
{1: 2, 3: 4, 4: 7, 6: 8}

In [19]:
# dictionary comprehension
# {key:value for i in iterable}

# print first 10 number and their square

{i:i*i for i in range(1, 11)}

# using existing dict
s = {
    'dhaka': 200,
    'bhola': 290,
    'khulna': 187
}

{key:value * 1.5 for (key, value) in s.items()}

{'dhaka': 300.0, 'bhola': 435.0, 'khulna': 280.5}

In [20]:
# using zip function
days = ["Sunday", "Monday","Tuesday","Wednesday","Thursday","Friday","Saturday"]
temp_C = [30.5,32.6,31.8,33.4,29.8,30.2,29.9]

{i:j for(i, j) in zip(days, temp_C)}

# using if condition
products = {'phone':10,'laptop':0,'charger':32,'tablet':0}
{key:value for (key, value) in products.items() if value > 0}

{'phone': 10, 'charger': 32}

In [21]:
# Nested comprehension
# print 2-4 table

{i:{j:i*j for j in range(1, 11)} for i in range(2, 5)}

{2: {1: 2, 2: 4, 3: 6, 4: 8, 5: 10, 6: 12, 7: 14, 8: 16, 9: 18, 10: 20},
 3: {1: 3, 2: 6, 3: 9, 4: 12, 5: 15, 6: 18, 7: 21, 8: 24, 9: 27, 10: 30},
 4: {1: 4, 2: 8, 3: 12, 4: 16, 5: 20, 6: 24, 7: 28, 8: 32, 9: 36, 10: 40}}