In [118]:
import numpy as np
import pandas as pd

In [119]:
matches = pd.read_csv("./ipl-matches.csv")

In [120]:
matches[['Team1', 'Team2']]
list(matches['Team1']) + list(matches['Team2'])
set(list(matches['Team1']) + list(matches['Team2']))
list(set(list(matches['Team1']) + list(matches['Team2'])))

['Rajasthan Royals',
 'Gujarat Titans',
 'Kings XI Punjab',
 'Rising Pune Supergiant',
 'Rising Pune Supergiants',
 'Gujarat Lions',
 'Royal Challengers Bangalore',
 'Mumbai Indians',
 'Lucknow Super Giants',
 'Deccan Chargers',
 'Kolkata Knight Riders',
 'Delhi Daredevils',
 'Pune Warriors',
 'Chennai Super Kings',
 'Delhi Capitals',
 'Sunrisers Hyderabad',
 'Kochi Tuskers Kerala',
 'Punjab Kings']

In [121]:
matches.head(5)
team1 = 'Lucknow Super Giants'
team2 = 'Sunrisers Hyderabad'

temp_df = matches[((matches['Team1'] == team1) &( matches['Team2'] == team2)) | ((matches['Team2'] == team1) & (matches['Team1'] == team2))]

In [122]:
total_matches = temp_df.shape[0]
total_matches

1

In [123]:
temp_df['WinningTeam'].value_counts()
# int(ans)
temp_df

# if int(temp_df['WinningTeam'].value_counts()) == 1:
#     temp_df['WinningTeam'] = 1
    # matches_won_team1 = 1
    # matches_won_team2 = 0
# matches_won_team1 = temp_df['WinningTeam'].value_counts()[team1]
# matches_won_team2 = temp_df['WinningTeam'].value_counts()[team2]
# matches_draw = total_matches - (matches_won_team1 + matches_won_team2)

,ID,City,Date,Season,MatchNumber,Team1,Team2,Venue,TossWinner,TossDecision,SuperOver,WinningTeam,WonBy,Margin,method,Player_of_Match,Team1Players,Team2Players,Umpire1,Umpire2
62,1304058,Mumbai,2022-04-04,2022,12,Lucknow Super Giants,Sunrisers Hyderabad,"Dr DY Patil Sports Academy, Mumbai",Sunrisers Hyderabad,field,N,Lucknow Super Giants,Runs,12.0,NaN,Avesh Khan,"['KL Rahul', 'Q de Kock', 'E Lewis', 'MK Pande...","['Abhishek Sharma', 'KS Williamson', 'RA Tripa...",J Madanagopal,Navdeep Singh

np.int64(2)

In [125]:
# def team1_vs_team2(team1, team2):
#     temp_df = matches[((matches['Team1'] == team1) & (matches['Team2'] == team2)) | ((matches['Team1'] == team2) & (matches['Team2'] == team1))]

#     total_matches = temp_df.shape[0]
#     matches_won_team1 = temp_df['WinningTeam'].value_counts()[team1]
#     matches_won_team2 = temp_df['WinningTeam'].value_counts()[team2]
#     matches_draw = total_matches - (matches_won_team1 + matches_won_team2)

#     response = {
#         'total_matches': total_matches,
#         team1: (int)(matches_won_team1),
#         team2: (int)(matches_won_team2),
#         'matches_draw': (int)(matches_draw),
#     } 
#     return response

def team1_vs_team2(team1, team2):
    temp_df = matches[((matches['Team1'] == team1) & (matches['Team2'] == team2)) | 
                      ((matches['Team1'] == team2) & (matches['Team2'] == team1))]

    total_matches = temp_df.shape[0]
    winning_counts = temp_df['WinningTeam'].value_counts()

    matches_won_team1 = winning_counts.get(team1, 0)
    matches_won_team2 = winning_counts.get(team2, 0)
    matches_draw = total_matches - (matches_won_team1 + matches_won_team2)

    response = {
        'total_matches': total_matches,
        team1: int(matches_won_team1),
        team2: int(matches_won_team2),
        'matches_draw': int(matches_draw),
    }
    return response

In [126]:
team1_vs_team2('Gujarat Titans', 'Mumbai Indians')
# matches[matches['Team2'] == 'Gujarat Titans']
# matches[matches['Team1'] == 'Mumbai Indians']

{'total_matches': 1,
 'Gujarat Titans': 0,
 'Mumbai Indians': 1,
 'matches_draw': 0}

In [129]:
matches['Team1Players'][0]

"['YBK Jaiswal', 'JC Buttler', 'SV Samson', 'D Padikkal', 'SO Hetmyer', 'R Ashwin', 'R Parag', 'TA Boult', 'OC McCoy', 'M Prasidh Krishna', 'YS Chahal']"